<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="post">

        <label for="name">UserName : </label>
        <input type="text" name="email" id="name">
        <label for="password">UserName : </label>
        <input type="password" name="password" id="password">
        <input type="submit" id="btn" value="Login">

    </form>
</body>
</html>