<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
</head>
<body>
    <h1>I'm Post Page</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores in adipisci accusamus cupiditate architecto provident esse quisquam eligendi, assumenda illum veniam autem corporis similique, nisi praesentium perferendis possimus. Ipsam, repellat.
    </p>
</body>
</html>